# Dependencies
node_modules/
.pnp
.pnp.*

# Build output
.next/
out/
dist/
build/

# Testing / coverage
coverage/

# Environment variables
.env
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caches
.turbo/
.cache/
*.tsbuildinfo
next-env.d.ts

# Editor / OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Vercel
.vercel
